<h1>{{title}}</h1>



<div class="container">
    <div class="row">
        <div class="col text-right">
            <a href="/add-product"> Add Product</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Action</th>
                    </tr>
                   
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td>{{product_name}}</td>
                        <td>{{name}}</td>
                         <td><a href="javascript:void(0)" onClick="deleteProduct({{id}})">Delete</a> </td>
                    </tr>
                   
                    {{else}}
                    <tr>
                        <td class="text-center"><span >No Products found</span></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <nav aria-label="Page navigation example" style="float: right">
                <ul class="pagination">
                    {{#each paging}}
                    <li class="page-item"><a onClick="doPaging({{no}})" class="page-link" >{{no}}</a></li>
                    {{/each}}
                    
                    
                </ul>
                </nav>

        </div>
    </div>
</div>

<script>
    function doPaging(no) {
        window.location.href = `?page=${no}`
    }

    function deleteProduct(id) {
        //alert(window.location.href)
        var url = window.location.href+`/?delete=${id}`
        //alert(url)

        $.ajax({

            url : `/delete-product/?id=${id}`,
            type : 'GET',
            data : {
                
            },
            dataType:'json',
            success : function(data) {              
                console.log(data)
                alert('Deleted succesfully')
                window.location.reload()
            },
            error : function(request,error)
            {
                alert("Request: "+JSON.stringify(request));
            }
        });

    }

    $(document).ready(function(){

        
        
    })
</script>